@model IEnumerable<Bangaubong.Models.Mcategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="clearfix">
    <div class="container-fluid ">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-7">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0"style="background-color:#f7f7f7">
                                <li class="breadcrumb-item"><a href="~/admin">Bảng điều khiển</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="">Loại sản phẩm</a></li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-5 text-right">
                        <a class="btn btn-primary btn-sm" href="~/admin/category/Create"><i class="fas fa-plus"></i> Thêm mới</a>
                        <a class="btn btn-danger btn-sm" href="~/admin/category/Trash"><i class="fas fa-trash-alt"></i> Thùng rác</a>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <table class="table table-bordered">
                    <tr>
                        <th>
                            <a>Loại sản phẩm</a>
                        </th>
                        <th class="text-center">
                            <a >Ngày đăng</a>
                        </th>
                        <th class="text-center">
                            <a>Chức năng</a>
                        </th>
                        <th>
                            <a>ID</a>
                        </th>
                    </tr>

                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>

                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Created_at)
                            </td>
                            <td class="text-center">
                                <a href="~/admin/category/status/@item.Id" >
                                    @Html.Action("ShowStatus", "Category", new { @id = item.Id })
                                </a>
                               
                                <a class="btn btn-sm btn-success" href="~/admin/category/Create/@item.Id"><i class="far fa-edit"></i> Sửa</a>
                                <a class="btn btn-sm btn-danger" href="~/admin/category/Deltrash/@item.Id"><i class="fas fa-trash-alt"></i> Xóa</a>
                            </td> 
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>

                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</section>