<section>
    <div class="list-group mt-4 " style="text-align:center">
        <p href="#" class="list-group-item list-group-item-action active bg-info">
            <a href="#" class="fa fa-cart-plus" style="color:white"></a>
            <a href="#" style="color:white"><B> GIỎ HÀNG</B></a><br />
             <a>Số sản phẩm: @ViewBag.quantity</a>
        </p>
    </div>
</section>
