<div class="container">
    <div class="row">
        <div class="col-md-5">
            <a href="index.html"></a>
            <img alt="" src="~/images/logo.png" class="img-fluid" alt="hinh anh" style="width: 100%;" />
        </div>
        <div class="col-md-3">
            <form class="form-inline my-2 my-lg-0" style="width: 290px;padding-top: 15px;margin-left: 60px">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="col-md-4" style="padding-top: 23px;padding-left: 70px">
            <div class="row">
                <div class="col-md-6 text-right">
                    <a>ĐĂNG NHẬP</a>
                </div>
                <div class="col-md-6 text-left">
                    <a>ĐĂNG KÝ</a>
                </div>
            </div>

        </div>

    </div>
</div>
