@model IEnumerable<Bangaubong.Models.Mcategory>
    <div class="list-group ">
    <a href="#" class="list-group-item list-group-item-action active bg-info">
        <B>DANH MỤC</B>
    </a>

    @foreach (var item in Model)
    {
      <li class="list-group-item "style="font-weight: bold;">
                <a href="~/san-pham/@item.Slug">@item.Name</a>
                @Html.Action("ChildListcategory", "Module", new { @id = item.Id })
      </li>
    }

    </div>
